<!doctype html>
<html lang="fr">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Assists your investments"/>
  <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="../../static/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../static/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/favicon-16x16.png">
  <link rel="manifest" href="../../static/assets/site.webmanifest">
  
  <title>Value Investing Assistant</title>
 </head>
 <body class="antialiased">
  <div class="page">
   {% include 'sections/Header.html' %}
   {% include 'sections/Navbar.html' %}
   <div class="content">
    <div class="container-xl">
     <div class="page-header d-print-none">
       <div class="row align-items-center">
        <div class="col">
         <h2 class="page-title">Documentation</h2>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="d-none d-lg-block col-lg-3">
        <ul class="nav nav-vertical">
         <li class="nav-item">
          <a href="#menu-base" class="nav-link" data-toggle="collapse" data-target="#menu-base" aria-controls="menu-base" aria-expanded="false" aria-label="Toggle menu">
           <span class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l3 3l-3 3"></path><line x1="13" y1="15" x2="16" y2="15"></line><rect x="4" y="4" width="16" height="16" rx="4"></rect></svg></span>
           Pour débuter
           <span class="nav-link-toggle"></span>
          </a>
          <ul class="nav nav-pills collapse show" id="menu-base">
           <li class="nav-item">
            <a href="#intro" class="nav-link">
             Introduction
            </a>
           </li>
           <li class="nav-item">
            <a href="#usage" class="nav-link">
             Usage
            </a>
           </li>
          </ul>
         </li>
         <li class="nav-item">
          <a href="#menu-notation" class="nav-link" data-toggle="collapse" data-target="#menu-notation" aria-controls="menu-notation" aria-expanded="false" aria-label="Toggle menu">
           <span class="nav-link-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path></svg></span>
            Notation
           <span class="nav-link-toggle"></span>
          </a>
          <ul class="nav nav-pills collapse show" id="menu-notation">
           <li class="nav-item">
            <a href="#perenite" class="nav-link">
             Pérénité du dividende
            </a>
           </li>
           <li class="nav-item">
            <a href="#capitalisation" class="nav-link">
             Capitalisation
            </a>
           </li>
           <li class="nav-item">
            <a href="#CA" class="nav-link">
             Chiffre d'affaire
            </a>
           </li>
           <li class="nav-item">
            <a href="#evolutionCA" class="nav-link">
             Evolution du chiffre d'affaire
            </a>
           </li>
           <li class="nav-item">
            <a href="#rendement-dividende" class="nav-link">
             Rendement du dividende
            </a>
           </li>
           <li class="nav-item">
            <a href="#payout-ratio" class="nav-link">
             Payout-Ratio
            </a>
           </li>
           <li class="nav-item">
            <a href="#rendement-action" class="nav-link">
              Rendement de l'action
            </a>
           </li>
          </ul>
         </li>
        </ul>
       </div>
       <div class="col-lg-9">
        <div class="card card-lg">
         <div class="card-body">
          <div class="markdown">
           <div>
            <div class="d-flex mb-4">
             <h1 class="mt-0">Pour débuter</h1>
            </div>
           </div>
           <h2 id="intro">Introduction</h2>
           <p>Bienvenue dans le partie "Explication des calculs effectués".
           Nous allons détailler ensemble comment sont évaluées les notes Value, Dividende et Management.</p>
           <h2 id="usage">Usage</h2>
           <p>Ce logiciel permet de suivre un panel de sociétés côtées en bourse, et de les comparer selon un scoring défini par celui-ci. </p>
           <div>
            <div class="d-flex mt-4">
             <h1 class="mt-0">Dividende</h1>
            </div>
            <div class="alert alert-success mb-4" role="alert">
             Les 7 critères suivants donnent 1 point à chaque fois qu'ils sont satisfaits.
             La note finale /7 est ensuite reportée /20.
            </div>
           </div>
           <h2 id="perenite">Pérénité du dividende</h2>
           <p>Dans un premier temps nous allons nous assurer que les dividendes
           ont été versés depuis les 15 dernières années sans interuption.</p>
           <h2 id="capitalisation">Capitalisation</h2>
           <p>La stratégie d'investissement basée sur le dividende demande d'avoir des entreprises solides
              que l'on peut conserver sur le long terme sans trop s'en soucier.
              Une des caractéristique clé est de trouver une entreprise bien établie avec une capitalisation suffisante.
              Le critére choisi ici est une capitalisation supérieur à 2 Milliard d'euros.</p>
           <h2 id="CA">Chiffre d'affaire</h2>
           <p>Dans la même veine que le point précédent, un chiffre d'affaire suffisament important
           permet de d'identifier une entreprise viable sur le long terme.
           Ce chifre d'affaire est la moyenne des chiffre d'affaire des 5 dernières années et
           nous souhaitons qu'il soit supérieur à 10 Milliard d'euros.</p>
           <h2 id="evolutionCA">Evolution du chiffre d'affaire</h2>
           <p>Un chiffre d'affaire conséquent est interessant mais il doit aussi être tenu sur le long terme.
           Pour cela, un critère d'evolution du chiffre d'affaire sur 5 ans a été ajouté.
           Si, sur les 5 dernières années, le chiffre d'affaire est maintenu ou en augmentation alors
           l'entreprise est interessant dans notre objectif d'investisssement dividende.</p>
           <h2 id="rendement-dividende">Rendement du dividende</h2>
           <p>Bien qu'un haut rendement dividende soit atractif, il est communément admis qu'un
           haut rendement rime souvent avec une santé financière moindre.
           Le critère ici est donc de viser un rendement de dividende inférieur à 7%.
           Nous voulons aussi un rendement interessant, il faut donc aussi viser une rendement
           de dividende supérieur à 3%.</p>
           <h2 id="payout-ratio">Payout-Ratio</h2>
           <p>Nous ne souhaitons pas que l'entreprise continue de donner des dividendes au profit de la santé financière de l'entreprise.
           Voila pourquoi le critère du payout ratio est inférieur à 63% et est basé sur le dividende de l'année précédente et
           le BNA de l'année précédente.</p>
           <h2 id="rendement-action">Rendement de l'action</h2>
           <p>Il serait dommage d'acheter des actions, de les conserver 20 ans et de les revendre à perte.
           Voila pourquoi nous souhaitons que le rendement moyen sur les 5 années soit supérieur à 1,5%.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  {% include 'sections/Footer.html' %}
 </body>
</html>
