<!--NAVBAR-->
  <nav class="navbar-expand-md">
      <div class="collapse navbar-collapse" id="navbarMenu">
        <div class="navbar navbar-light">
          <div class="container-xl">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                  </span>
                  <span class="nav-link-title">
                    Tableau de bord
                  </span>
                </a>
              </li>
             <li class="nav-item dropdown">
                 <a href="#" class="nav-link dropdown-toggle" data-toggle="collapse" data-target="#dropdownMenu" aria-controls="dropdownMenu" aria-expanded="false" aria-label="Toggle dropdown">
                   <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline><line x1="12" y1="12" x2="20" y2="7.5"></line><line x1="12" y1="12" x2="12" y2="21"></line><line x1="12" y1="12" x2="4" y2="7.5"></line><line x1="16" y1="5.25" x2="8" y2="9.75"></line></svg>
                   </span>
                   <span class="nav-link-title">
                     Sociétés
                   </span>
                 </a>
                 <div class="dropdown-menu" id="dropdownMenu">
                       <a class="dropdown-item" href="/General">
                         Classement Général
                       </a>
                       <a class="dropdown-item" href="/Secteur/Energie">
                         Energie
                       </a>
                       <a class="dropdown-item" href="/Secteur/Pharma">
                         Pharmaceutique
                       </a>
                       <a class="dropdown-item" href="/Secteur/Luxe">
                         Luxe
                       </a>
                       <a class="dropdown-item" href="/Secteur/Aeronautique">
                         Aéronautique
                       </a>
                       <a class="dropdown-item" href="/Secteur/Consommation">
                         Consommation
                       </a>
                       <a class="dropdown-item" href="/Secteur/Industrie">
                         Industrie
                       </a>
                       <a class="dropdown-item" href="/Secteur/Logiciel">
                         Logiciel
                       </a>
                 </div>
               </li>
              <li class="nav-item">
                <a class="nav-link" href="/Simulateur">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 11 12 14 20 6"></polyline><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path></svg>
                  </span>
                  <span class="nav-link-title">
                    Simulateur
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Documentation">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 11 12 14 20 6"></polyline><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path></svg>
                  </span>
                  <span class="nav-link-title">
                    Documentation
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </nav>
