<!doctype html>
<html lang="fr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
 </head>
 <body class="antialiased border-top-wide border-primary d-flex flex-column">
  <div class="flex-fill d-flex align-items-center justify-content-center">
   <div class="container-tight py-6">
    <div class="empty">
     <div class="empty-header">404</div>
     <p class="empty-title">Oups...Page non trouvée</p>
     <p class="empty-subtitle text-muted">
       Désolé, la page que vous avez demandée n'a pas été trouvée
     </p>
     <div class="empty-action">
      <a href="/" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="5" y1="12" x2="19" y2="12"></line><line x1="5" y1="12" x2="11" y2="18"></line><line x1="5" y1="12" x2="11" y2="6"></line></svg>
        Retour
      </a>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
