<!doctype html>
<html lang="fr">
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css">

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
 </head>
 <body class="antialiased">
  <div class="page">
   {% include 'Header.html' %}
   {% include 'Navbar.html' %}
   <div class="page-content d-flex flex-fill max-w-full">
    <div class="flex-fill px-lg-2 mw-100">
     <div class="container my-4">
      <div class="row">
       <div class="col col-12">
        <div class="card">
         <div class="card-header">
          <h3 class="card-title">Tableau de bord</h3>
         </div>
         <div class="empty">
           <div class="empty-img"><img src="../static/assets/wip.svg" height="128"  alt="">
           </div>
           <p class="empty-title">Tableau de bord en cours de développement...</p>
           <p class="empty-subtitle text-muted">
             C'est ici que vous pourrez prochainement suivre les indicateurs de VIA - Value Investing Assistant
           </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  {% include 'Footer.html' %}
 </body>
</html>
