

<!--NAVBAR-->
  <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Value Investing Assistant</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Classement par secteur
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/Secteur/Aeronautique">Aeronautique</a>
                  <a class="dropdown-item" href="/Secteur/Consommation">Consommation</a>
                  <a class="dropdown-item" href="/Secteur/Energie">Energie</a>
                  <a class="dropdown-item" href="/Secteur/Industrie">Industrie</a>
                  <a class="dropdown-item" href="/Secteur/Logiciel">Logiciel</a>
                  <a class="dropdown-item" href="/Secteur/Luxe">Luxe</a>
                  <a class="dropdown-item" href="/Secteur/Pharma">Pharmaceutique</a>

                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/General">Classement Général</a>
              </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">Screener</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/Secteur/Luxe">Explication</a>
                </li>

            </ul>
          </div>
        </nav>
  </div>